* {
  margin: 0;
  box-sizing: border-box;
}
body {
  
  color: firebrick;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: peachpuff;
  padding: 20px;
  z-index: 2;
}
#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  color: peachpuff;
  background-color: firebrick;
  padding: 30px;
  position: relative;
  top: 30%;
}

button {
  padding: 5px 10px;
}
#open-modal {
  border: 3px solid firebrick;
  background-color: peachpuff;
  color: firebrick;
}

#sign-in, #close-modal, #open-modal {
  font-weight: 900;
}
#sign-in {
  border: 3px solid peachpuff;
  background-color: peachpuff;
  color: firebrick;
}
#close-modal {
  border: 3px solid peachpuff;
  background-color: firebrick;
  color: peachpuff;
}

#modal-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
}

#modal-inputs input{
  background-color: firebrick;
  color: peachpuff;
  padding: 5px 10px;
  border: 3px solid peachpuff;
  margin: 5px;
}

#modal-inputs input::placeholder {
  background-color: firebrick;
  color: peachpuff;
}


